body {
  background-color: pink;
}

#box {
  width: 600px;
}

div {
  display: inline-block;
  width: 100px;
}

h1 {
  margin-left: 200px;
  font-size: 26px;
  margin-bottom: 50px;
  font-family: sans-serif;
}

button {
  width: 200px;
  background-color: white;
  border-radius: 10px;
  border-style: none;
  display: block;
  margin-left: 200px;
  margin-top: 50px;
  padding: 20px;
}
